{% extends 'layouts/page.html' %}

{% block title %} Clients - Easy Ledger {% endblock %}

{% block active_nav_link_2 %}active-nav-link{% endblock %}

{% block content %}

<div>
   <div class="row">
      <div class="col-4 el-font-s-2 text-start">
         <ul>
            <li class="el-text-white pe-3" id="client-grid-btn">
               <p class="" href=""> <i class="fa-solid fa-table-columns"></i>
                  Grid
               </p>
            </li>
            <li class="el-text-white pe-3" id="client-list-btn">
               <p class="" href=""> <i class="fa-solid fa-list"></i> List </p>
            </li>
         </ul>
      </div>
      <div class="col-8 text-end">
         <a href="{{url_for('client.client_index')}}" class="text-white el-font-choice-1 el-letter-sp-1">
            easyledger{{url_for('client.client_index')}}
         </a>
      </div>
   </div>

   <div class="container-fluid pt-2">
      <div id="client-grid-tab" class="el-tab-active">
         <div class="row">
            <div class="col-md-6 col-lg-4 pt-2 pb-2">
               <button type="button" disabled class="btn el-bg-pills el-font-s-2 text-white"> Grid View </button>
            </div>
            <div class="el-font-s-1 col-md-6 col-lg-4 pt-2 pb-2">
               <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"> <i
                        class="fa-solid fa-magnifying-glass"></i> </span>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div class="el-font-s-1 col-md-6 col-lg-4 text-md-end pt-2 pb-2">
               <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addClient"> Add
                  New Client <i class="fa-solid fa-plus"></i> </button>

               <div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content el-bg-modals">
                        <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="fa-solid fa-plus"></i> Add a
                              New Client </h1>
                           <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           ...
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cancel <i
                                 class="fa-solid fa-ban"></i> </button>
                           <button type="button" class="btn btn-success"> Add <i class="fa-solid fa-plus"></i> </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row pt-4">
            {% for client in clients %}
            <div class="col-md-6 col-lg-4 pt-4">
               <div class="rounded-3 el-bg-grids p-3 ps-5 pe-5 el-card-grids">
                  <div class="w-100 text-end dropstart pb-2">
                     <i class="fa-solid fa-ellipsis el-font-s-2 el-cursor-pointer" data-bs-toggle="dropdown"
                        aria-expanded="false"></i>
                     <ul class="dropdown-menu dropdown-menu-end el-bg-grids">
                        <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-eye"></i> View</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-pen-to-square"></i> Edit</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-trash"></i> Delete</a></li>
                     </ul>
                  </div>
                  <div class="w-100 d-flex justify-content-center pb-4">
                     {% if client.client_logo==None %}
                     <p
                        class="d-flex align-items-center justify-content-center el-rounded-full el-border-s-1 text-center bg-white el-font-s-5 fw-bold el-text-bl-1">
                        {{client.name[:2].upper()}}
                     </p>
                     {% else %}
                     <img src="{{client.client_logo}}" class="img-fluid el-rounded-full el-border-s-1"
                        alt="client logo"> {% endif %}
                  </div>
                  <div class="text-center pb-2 el-font-s-2 el-card-grids">
                     <p> {{ client.name }} </p>
                     <p class="el-font-xs-2 el-text-gr-1"> has 1 rep(s) </p>
                  </div>
                  <div class="row">
                     <div class="col-md-6 text-center text-md-start pb-2">
                        <a {% if client.phone_number==None %} data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-custom-class="custom-tooltip" data-bs-title="No Phone Number" {% else %}
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                           data-bs-title={{client.phone_number}} href="tel:{{client.phone_number}}" {% endif %}
                           class="text-white el-cursor-pointer"><i class="fa-solid fa-phone"></i> Call
                        </a>
                     </div>
                     <div class="col-md-6 text-center text-md-end pb-2">
                        <a {% if client.phone_number==None %} data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-custom-class="custom-tooltip" data-bs-title="No Email Address" {% else %}
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                           data-bs-title={{client.email_address}} href="mailto:{{client.email_address}}" {% endif %}
                           class="text-white el-cursor-pointer"><i class="fa-solid fa-envelope"></i> Email </a>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <div id="client-list-tab" class="el-tab-inactive">
         <div class="">
            <button type="button" disabled class="btn el-bg-pills el-font-s-2 text-white"> List View </button>
         </div>
      </div>
   </div>
</div>

{% endblock %}