* {
   margin: 0;
   padding: 0;  
   box-sizing: border-box;
}
  
body {
   min-height: 100vh;
   background-color: #14161b;
}

a, a:link, a:visited, a:active, a:hover, i {
   text-decoration: none;
}

.sidebar {
   position: fixed;
   width: 60px;
   height: 100vh;
   background-color: #212529;
   overflow: hidden;
   border-right: #ffffff solid 0px;
   transition: 0.5s;
}

.contentside {
   margin-left: 60px;
   max-width: 100%;
   transition: 0.5s;
   color: #ffffff;
}

.sidebar:hover {
   width: 250px;
   overflow-x: hidden;
}
/* width */
.sidebar:hover::-webkit-scrollbar {
   width: 6px;
 }
 
 /* Track */
 .sidebar:hover::-webkit-scrollbar-track {
   background: #1D2330; 
 }
  
 /* Handle */
 .sidebar:hover::-webkit-scrollbar-thumb {
   background: #808080;
 }
 

@media screen and (min-width: 768px) {
   .sidebar:hover ~ .contentside {
      margin-left: 250px;
   }
}

.contentside-container {
   max-width: 100vw;
   box-sizing: border-box;
   padding-left: 2%;
   padding-right: 2%;
}

.contentside-container-top {
   padding-top: 1%;
}

.sidebar ul {
   position: relative;
   height: 100vh;
   padding-left: 0 !important;
}

.sidebar ul li {
   list-style: none;
}

.sidebar ul li a {
   position: relative;
   display: flex;
   white-space: nowrap;
   text-decoration: none;
   color: #595b5f;
}

.sidebar ul li a:hover {
   color: #ffffff;
}

.sidebar ul li.active-nav-link a {
   color: #ffffff;
}

.sidebar ul li a .icon {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 60px;
   height: 60px;
   font-size: 1em;
}

.sidebar ul li a .text {
   position: relative;
   height: 60px;
   display: flex;
   align-items: center;
   font-size: 0.8em;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 600;
}

.sidebar ul li.logo {
   margin-bottom: 22px;
   cursor: pointer; 
}

.sidebar ul li.logo .text {
   color: #ffffff;
}
.sidebar ul li.logo .icon {
   color: #ffffff;
}

.sidebar ul li.logo .icon {
    font-size: 1.5em;
}

.sidebar ul li.logo .text {
   font-size: 0.8em;
   font-weight: 500;
}
